[submodule "containers_test"]
	path = containers_test
	url = https://github.com/mli42/containers_test
[submodule "42TESTERS-CONTAINERS"]
	path = 42TESTERS-CONTAINERS
	url = https://github.com/Mazoise/42TESTERS-CONTAINERS
